<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ s('site-title') }}</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <meta name="description" content="{{ s('hero-header') }}">
    <link rel="shortcut icon" type="image/svg" href="/static/images/logo.svg">
    <meta name="twitter:title" content="{{ s('hero-header') }}">
    <meta name="twitter:description" content="{{ s('hero-description') }}">
    <meta name="twitter:image" content="https://shoplocal.se/static/images/share.jpg">
    <meta property="og:title" content="{{ s('site-title') }}">
    <meta property="og:site_name" content="{{ s('site-title') }}">
    <meta property="og:image" content="https://shoplocal.se/static/images/share.jpg">  
    <meta property="og:url" content="https://shoplocal.se/">
    <meta name="twitter:card" content="summary_large_image">
  </head>
  <body>
    <div>
      <div class="banner">
        <p>Hey there! This is an experimental website with fake data used to showcase our idea for the <a target="_blank" href="https://www.hackthecrisis.se/">Hack the Crisis</a> hackathon.
      </div>
      <div class="header">

        <div class="logo-container">
          <a href="/"><img class="logo" alt="{{ s('site-title') }}" src="/static/images/logo.svg"></a>
        </div>

        <div class="hero-image"></div>


        <a style="background-image: url(/static/images/icons/location.svg)" class="button icon disabled location">Göteborg</a>

        <div class="hero">
          <h1>{% block title %}{% endblock %}</h1>
          <p>{% block description %}{% endblock %}</p>
          {% block hero_content %}
          {% endblock %}

          <a target="_blank" href="https://forms.gle/wMAKcQEomEWkaffV8" style="background-image: url(/static/images/icons/plus.svg)" class="button icon add-business">{{ s('add-business-button') }}</a>

        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}


  </body>
</html>