<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ s('site-title') }}</title>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <meta name="description" content="{{ s('hero-header') }}">
    <link rel="shortcut icon" type="image/svg" href="/static/images/logo.svg">
  </head>
  <body>
    <div>
      <div class="header">
        <div class="logo-container">
          <a href="/"><img class="logo" alt="{{ s('site-title') }}" src="/static/images/logo.svg"></a>
        </div>

        <a style="background-image: url(/static/images/icons/location.svg)" class="button icon disabled location">Göteborg</a>

        <a target="_blank" href="https://forms.gle/wMAKcQEomEWkaffV8" style="background-image: url(/static/images/icons/plus.svg)" class="button icon add-business">{{ s('add-business-button') }}</a>

        <div class="hero-image"></div>
        <div class="hero">
          <h1>{% block title %}{% endblock %}</h1>
          <p>{% block description %}{% endblock %}</p>
          {% block hero_content %}
          {% endblock %}
        </div>
      </div>
    </div>

    {% block content %}
    {% endblock %}
  </body>
</html>